@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(217, 19%, 35%);
  --text-color: hsl(217, 19%, 35%);
  --border-radius: 15px;
}
html {
  background-color: var(--primary-color);
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0; 
  color: var(--text-color);
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container {
  max-width: 320px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  border: solid black 1.5px;
  box-shadow: 6px 6px 0px hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

h3 {
  font-size: 16px;
  margin: 0;
  color: black;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  color: black;
}

h1:hover {
  color: var(--primary-color);
  cursor: pointer;
}

p {
  font-size: 16px;
  color: var(--text-color);
  margin: 10px 0;
}

.date {
  font-size: 0.9em;
  color: var(--text-color);
}

.author-container {
  font-size: 1em;
  color: var(--text-color);
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 10px;
}
.author-container img {
  width: 40px;
  height: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.attribution a {
  color: var(--secondary-color);
}

@media (max-width: 375px) {
  html {
    padding: 10px;
  }
  .container {
    max-width: 80%;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
  }
  .image-container {
    margin-bottom: 12px;
  }
  h1 {
    font-size: 1.1em;
  }
  h3, p, .date, .author-container {
    font-size: 0.95em;
  }
  .author-container img {
    width: 32px;
    height: 32px;
  }
}